DATABASE_URL=postgresql://postgres:<password>@<RDS_ENDPOINT>:5432/fastapi_prod
S3_BUCKET=fastapi-app-files-<your-account-id>
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
